.gradle
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.class
.idea
.DS_Store
.idea/workspace.xml
build/libs/*
*/build/libs/*

### IntelliJ IDEA ###
*/.idea/work*/.idea/workspace.xml
*/.idea/tasks.xml
/build/
*/.idea/workspace.xml

*.iws
*.iml
*.ipr
/out/
/build/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

###Package level ####
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar